API_KEYS=xxx-xxx-xxx-xxx-xxx
KEYVAULT_NAME=MyawesomeKeyVault
ENVIRONMENT=dev
APPINSIGHTS_CONNECTION_STRING=
GH_TOKEN=
IMAGES_DEPLOYMENT_NAME=
IMAGES_API_KEY=
IMAGES_BASE_URL=
IMAGES_API_VERSION=
ISSUES_DEPLOYMENT_NAME=
ISSUES_API_KEY=
ISSUES_BASE_URL=
ISSUES_API_VERSION=
WIKIS_DEPLOYMENT_NAME=
WIKIS_API_KEY=
WIKIS_BASE_URL=
WIKIS_API_VERSION=
REVIEWER_DEPLOYMENT_NAME=
REVIEWER_API_KEY=
REVIEWER_BASE_URL=
REVIEWER_API_VERSION=
AZURE_LA_WORKSPACEID=
AZURE_CLIENT_ID=
AZURE_TENANT_ID=
AZURE_CLIENT_SECRET=